---
---
  body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
}

$primary: #6cbd45;

.mobile-decor {
	position: fixed;
	right: 0;
	bottom: -5px;
	padding: 0 !important;
}

.link-button {
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	padding: 10px 20px;
	width: fit-content;
	text-align: auto;
	border: solid 2px #4f4842;
	color: #4f4842;
	border-radius: 30px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	
	&:hover, &.hover {
		color: white;
		background: #4f4842;
	}

	&.mobile {
		padding: 5px 10px;
		margin-bottom: 60px;
	}
}

.body-container {
	@media (min-width: 1200px) {
		overflow: scroll;
		width: calc(100vw - 276px);
		max-height: max-content;
		height: max-content;
	}

	@media (min-width: 768px) {
		max-height: 100vh;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

#body {
	@media (min-width: 768px) {
		height: max-content;
	}


	@media (max-width: 768px) {
		margin: 0px auto;
	}

	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-left: solid 1px #ccc;
}

* {
	box-sizing: content-box !important;
}





.circle-home-1 {
	position: fixed;
	top: calc(50vh - 30px);
	right: 0;
	display: none;
	display: block;	
	@media (max-width: 768px){
		z-index: -2;
		width: 250px;
		height: 250px;
		right: -100px;
		top: 170px;
	}
}

.culture {
	padding: 30px;
}

table {
	margin: auto;
	thead {
		background: $primary;
		th {
			padding: 15px;
			margin: auto;
			color: white;
			text-align: center !important;
		}
	}

	tbody {
		td {
			border: solid 1px $primary;
			@media (min-width: 768px) {
				min-width: 300px;	
			}
			padding: 30px;
			@media (max-width: 768px) {
				padding: 15px;
			}
			text-align: center !important;
			&:last-child {
				li {
					text-align: left !important;
				}
			}
		}
	}
}

.circle-home-2 {
	position: fixed;
	top: 0;
	right: 370px;
	z-index: 2;	
	display: none;
	display: block;	
	@media (max-width: 768px){
		display: none;
		z-index: -2;
		width: 250px;
		height: 250px;
		right: -100px;
		top: 170px;
	}
}

.circle-home-3 {
	position: fixed;
	bottom: 0;	
	left: 60vw;
	display: none;
	display: block;	
	@media (max-width: 768px){
		display: none;
		z-index: -2;
		width: 250px;
		height: 250px;
		right: -100px;
		top: 170px;
	}
}

.hide {
	display: none !important;
}

#body {
	@media (min-width: 768px) {
		overflow-x: hidden;
	}
	
	.circle {
		position: absolute;
		right: 0px;
		opacity: 0.6;
		top: 0px;

		@media (max-width: 768px) {
			display: none;
		}
	}
}


.dummy {
	background: #c4c4c4;
	width: 150px;
	height: 150px;
	content: "";
}

* {
	font-family: 'Nunito', sans-serif;
}

#home-mobile {
	min-height: calc(100vh - 255px);
	img {
		z-index: 2;
		position: relative;
		width: 100%;
	}
	@media (min-width: 1200px) {
		display: none;
	}
	margin-top: 30px;
	width: 100vw;
	text-align: center;
	div {
		padding: 0 10vw;
		text-align: justify;
		margin: auto;
	}

	h1 {
		color: #7a7a7a;
		text-align: left;
		margin-top: 30px;
		width: fit-content;
		font-size: 26px;
	}

	

	p {
		color: #404040;
		text-align: justify;
	}
}



#footer {
	height: 20px;
	width: 100vw;
	background: $primary;
}

.arrow {
	color: $primary;
	font-size: 24px;
	// font-size: 40px;
	a {
		color: $primary !important;
	}
	&.disabled {
		opacity: 0.6;
	}
}

a {
	text-decoration: none;
	font-family: 'Nunito Light', sans-serif;
	&:not(nav) {
		font-family: 'Nunito', sans-serif;
		color: $primary;
	}
}

.navbar-mobile {
	@media (min-width: 1200px) {
		display: none;
	}
	display: flex;
	img {
		height: 100px;
	}
	border-bottom: solid 1px #c4c4c4;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	padding: 15px 25px;
	.menu {
		i {
			font-size: 30px;
		}
	}
}

.sidebar-mobile {
	#close {
		float: right;
		i {
			font-size: 20px;
		}
	}
	&.disabled {
		display: none;
		transform: translateX(250px);
	}
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	top: 0;
	.bg {
		width: 100vw;
		height: 100vh;
		position: fixed;
		background: black;
		opacity: 0.3;
	}
	.content {
		position: fixed;
		right: 0px;
		width: 250px;
		height: 100vh;
		background: white;
		transform: translateX(0px);
		transition: transform 1s;
	}
}

nav.desktop, .sidebar-mobile .content {
	h1 {
		margin-bottom: 50px;
	}

	width: 200px;
	padding: 40px;

	a {
		display: block;
		margin: 30px 0;
		color: #000;
		width: max-content;
		&.is-active,
		&:hover {
			color: $primary !important;
		}
	}

	.languages {
		display: flex;
		align-items: center;

		img:first-child {
			margin-right: 10px;
		}
	}

	.social-media {
		margin-top: 30px;
		a {
			display: inline;
			color: black;
			margin-right: 10px;
		}
	}

	.subtitle {
		margin-top: 10px;
		font-size: 14px;
		color: #c4c4c4;
	}
}



#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	nav.desktop {
		@media (max-width: 1200px) {
			display: none;
		}
	}
	#body {
		min-height: 100vh;
		position: relative;
	

		
		// footer {
		// 	content: "";
		// 	height: 46px;
		// 	background-color: $primary;
		// 	position: absolute;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 100%;
		// }
	}
}

#home {
	@media (max-width: 1200px) {
		display: none;
	}
	max-height: 100vh;
	overflow: hidden;
	@media (max-width: 768px) {
		padding: 10vw;
		flex-direction: column;
		.text {
			margin-top: 30px;
		}
		width: 100vw;
	}
	.images {
		height: calc(100% - 66px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 100px;
		padding: 60px 0;
		img {
			display: block;
			width: 130px;
		}
		@media (max-width: 768px) {
			flex-direction: row;
			height: max-content;
			margin: 0;
			margin-top: 60px;
			width: 200px;
			overflow: scroll;

			img {
				margin-right: 10px;
			}

			padding: 30 0px;
		}
	}

	.top-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100vh;
		align-items: flex-start;
		
	}

	.main {
		width: 100%;
		margin-right: 30px;
		max-width: 60vw;
		.desc {
			padding-top: 30px;
			// padding: 30px 0 30px 30px;
		}
		
		h1 {
			font-weight: normal;
			width: max-content;
			font-size: 36px;
		}

		p {
			font-size: 18px;
			max-width: 744px;
			text-align: justify;
		}

		.content {
			padding: 100px;
			padding-top: 150px;
			@media (max-width: 1800px) {
				padding-top: 100px;
			}
		}
	}

	.images-h {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		img {
			min-height: 100vh;
			min-width: 50vh;
		}
	}

	.images-v {
		margin: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.text {
		.slider {
			width: 744px;
			height: 315px;
			overflow: hidden;
			.slider-navigation-next, 
			.slider-navigation-previous,
			.slider-page {
				display: none;
			}
		}
		width: calc(100% - 400px);	
		height: 315px;
		width: 744px;
		width: 100%;
		color: white;
		margin-bottom: 60px;
		margin-left: -30px;
		.title {
			margin: 0;
			font-size: 3.5rem;
			span {
				color: white;
				background-color: $primary;
			}

			&.is-1 {
				background: $primary;
				width: max-content;
			}
		}

		.content {
			padding: 100px 30px;
			position: absolute;	
			bottom: 0;
		}

		p {
			width: 50%;
			font-size: 24px;
		}
		@media (max-width: 768px) {
			margin-top: 0px;
			p {
				max-width: 250px;
				text-align: justify;
				font-size: 14px;
			}
		}
	}
}

#company {

	.title.is-2 {
		padding-top: 30px !important;
	}

	margin-top: 30px;
	padding: 8vh 0vw;

	@media (max-width: 768px) {
		margin: auto;
		width: 100vw;
		padding: 0;
	}

	widows: 100vw;

	p, div {
		display: block;
		margin: 0 auto;
		width: 900px;
		max-width: 900px;
		span {
			background-color: $primary;
			color: white;
		}

		@media (max-width: 768px) {
			max-width: 250px;
			font-size: 14px;
			text-align: justify;
		}
	}

	.description {
		display: flex;
		text-align: justify;
		@media (max-width: 768px) {
			flex-direction: column;	
		}
		
		align-items: center;
		div {
			width: max-content;
			margin: 0;
			margin-right: 30px;
			
			@media (max-width: 768px) {
				margin: 0;
				margin-bottom: 15px;
			}
		}

		img {
			min-width: 62px;
			height: 62px;
			@media (max-width: 768px) {
				height: 40px;
				min-width: 40px;
			}
		}
	}

	.visi {

		align-items: flex-start;
		@media (max-width: 768px) {
			flex-direction: column;	
			.judul {
				margin: auto !important;
				margin-bottom: 30px !important;
			}
		}

		* {

			text-align: justify !important;
			margin: auto;
			li {
				margin: 30px 0;
				margin-top: 0;
			}
		}
		display: flex;
		margin: 30px 0;
		p, div {
			width: min-content;
			margin: 0;
			margin-right: 60px;
			&.content {
				margin: 0;
				text-align: left;
				width: 70%;

				@media (max-width: 768px) {
					width: 100%;	
				}
			}
		}
	}

	.team {
		.judul {
			margin-bottom: 15px;
		}

		.desc {
			display: flex;
			margin-bottom: 60px;
			text-align: justify;
			margin-right: 30px;
			@media (max-width: 768px) {
				flex-direction: column-reverse;	
			}
			img {
				margin: 0 60px;
				width: 100px !important;
				height: 100px !important;
				@media (max-width: 768px) {
					margin: auto;
					width: 60px !important;
					height: 60px !important;
				}
			}
		}

}
	.people {
		margin: 60px auto;
		display: flex;
		align-items: center;
		max-width: 900px;
		@media (max-width: 768px) {
			flex-direction: column;	
			align-items: center;

			max-width: fit-content;
			.image {
				margin: auto;
				text-align: center;
				margin-bottom: 30px !important;
			}
		}
	
		.image {
			margin: 0;
			margin-right: 30px;
		}
		.dummy {
			background: #c4c4c4;
			max-width: 150px !important;
			width: 150px !important;
			height: 150px !important;
		}
		.data {
			margin: 0 !important;
			width: 300px !important;

			.nama {
				font-size: 18px;
				@media (max-width: 768px) {
					text-align: center;
				}
			}

			.quote {
				margin-top: 15px;
				width: 700px;
			}
		}		
	}

	.group-image {
		margin: 60px auto;
	}

	h2 {
		margin-top: 60px;
		border-bottom: solid 3px $primary;
	}

	.judul, .title {
		width: max-content;
		text-align: center;
		margin: 0 auto;
		display: block;
		color: #000;
		margin-bottom: 30px;
	}

	.judul {
		font-size: 18px;
	}

	.text {
		margin-top: 30px !important;
	}

	.images {
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		text-align: center;
		align-items: flex-start;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			max-width: 200px;
		}
		.company-icon {
			div {
				width: 100px;
				font-size: 12px;
			}
		}
	}
}

#contact {
	margin: auto;
	text-align: center;
	padding: calc(5vh - 7.5px) 10vw;
	h2 {
		width: max-content;
		text-align: center;
		margin: 0 auto;
		display: block;
		color: #000;
		border-bottom: solid 3px $primary;
		margin-bottom: 50px;
		margin-top: 60px;
	}

	.contact {
		border-top: none;
		width: 774px;
		margin: auto;
		margin-top: -7px;
		@media (max-width: 768px) {
			font-size: 14px;
			width: 300px;
		}

		text-align: left;

		.numbers {
			div {
				display: inline-block;
			}	
			margin: 15px;
			@media (min-width: 768px) {
				margin: 0 70px;
				margin-right: 0;
			}
			
			@media (max-width: 768px) {
				margin: auto;
				div {
					padding-bottom: 5px;
				}
				strong {
					display: none;
				}
			}
			padding: 0;
			// padding: 60px 0;
			padding-bottom: 30px ;
		}

		.content {
			.left {
				color: $primary;
			}

			a{ 
				color: #404040 !important;
			}
			@media (min-width: 768px) {
				margin: 0 60px;
				margin-bottom: 0;
			}
	
			padding-top: 30px;
			display: flex;

			div {
				align-items: center;
				justify-content: space-around;
				margin: 10px;
				i {
					font-size: 24px;
					margin: 0 3px;
				}
			}
		}	

		@media (max-width: 768px) {
			flex-direction: column;
			.contact-button {
				margin: 10px;
			}
		}
	}

	iframe {
		margin: auto;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

#project {
	padding-top: 5vh;
	padding-bottom: 5vh;

	.gallery {
		max-width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@media (max-width: 768px) {
			justify-content: space-between;
		}
		.arrow {
			margin: 30px;
		}
	}
	margin: auto;
	text-align: center;
	// padding: 0px 100px;
	width: max-content;
	@media (max-width: 768px) {
		padding: 0;
	}
	h2 {
		width: max-content;
		text-align: center;
		margin: 0 auto;
		display: block;
		color: #000;
		border-bottom: solid 3px $primary;
		margin-bottom: 50px;
		margin-top: 60px;
	}

	.featured {
		width: 50vw;
		// display: flex;
		// flex-direction: row;
		// @media (max-width: 768px) {
		// 	flex-direction: column;
		// 	align-items: center;
		// 	margin: auto;
		// }
		margin: auto;
		overflow: hidden;
		@media (max-width: 768px) {
			width: 500px;
		}
		.slider {
			min-width: 400px;
			.slider-item {
				height: 250px;
				border-right: solid 2px $primary;
				@media (max-width: 1200px) {
					margin: 0;	

				}

				img {
					height: 250px;
					width: 400px;
					@media (max-width: 768px) {
						width: 100%;	
					}
				}
			}
			
			padding: 60px 0;
			&::after {
				border: none  !important;
			}

			&::before {
				border: none  !important;
			}
		}
		.project-card {
			// text-align: left;
			// padding: 30px;
			height: 250px;
			width: 200px;
			img {
				height: 250px;
				width: 200px;
			}
			margin: 10px 0;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			width: max-content;
		}
	}

	.gallery-client {
		margin-top: 30px;
		img {
			width: 300px !important;
			min-height: 200px;
			object-fit: cover;
			border-radius: 0;
		}
	}

	.clients {
		p {
			margin: auto;
		}

		margin-bottom: 60px;
		
		.fa-chevron-down {
			color: $primary;
			font-size: 30px;
		}

		div.logos {
			margin: 0 auto;
			@media (min-width: 768px) {
				margin: 30px auto;
			}
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			.logo {
				display: flex;
				align-items: center;
				width: 120px;
				height: 120px;
				@media (min-width: 768px) {
					border: solid 1px #c4c4c4;
				}
			}
			img {
				text-align: center;
				display: block;
				margin: auto;
				width: 90px;
				border-radius: 5px;	
				&.gallery-client {
				}
			}
			@media (max-width: 768px) {
				flex-wrap: wrap;
				max-width: 250px;
				.logo {
					margin: 1px;
				}
			}
		}

		.modal-content {
			width: 70vw;
			background: white;
			padding: 30px;
			height: 70vh;
			// margin: auto;
			@media (min-width: 768px) {
				margin-left: 300px;
			}
			.header {
				display: flex;
				justify-content: space-between;

				.logo {
					margin-bottom: 30px;
				}
			}

			

			.content {
				p {
					margin-top: 60px;
					text-align: start;
					max-width: 70%;
				}
			}

			.slider-container, .slider-item {
				width: 600px !important;
			}

			.gallery-client {
				margin-top: -60px;
				display: flex;
				align-items: center;
				justify-content: center;
				.project-card {
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					img {
					}

				}
				.arrow {
					margin: 30px;
					@media (max-width: 768px) {
						margin: 5px;	
					}
				}
			}

			@media (max-width: 768px) {
				.header {
					justify-content: center;
					.logo {
						border: solid 1px #c4c4c4;
						width: 80px;
						height: 80px;
					}

					.close {
						position: absolute;
						right: 10px;
						top: 10px;
					}
				}
			.gallery-client {
					margin-top: 0;
					padding: 10px;
					.arrow {
						margin: 10px;
					}
				}
			}
		}
	}

	.other {
		display: flex;
		align-items: center;
		justify-content: center;
		.other-button {
			margin-left: 10px;
			div {
				margin-left: 5px;
			}
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			border: solid 2px $primary;
			padding: 10px;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			span {
				display: block;
				margin-bottom: 15px;
			}
			.other-button {
				margin-bottom: 15px;
			}
		}
	}
}

#service {
	.modal {

		.modal-content {
			background: white;

			.top {
				display: flex;
				justify-content: space-between;
				@media (max-width: 768px) {
					justify-content: center;	
					padding: 0 !important;
				}
			}	

			.fa-times {
				position: absolute;
				top: 30px;
				right: 30px;
				@media (max-width: 768px) {
					top: 10px;
					right: 10px;
				}
			}

			width: 50vw;
			@media (max-width: 768px) {
				padding: 5vw !important;
				width: 70vw;
			}

			@media (max-width: 768px) {
				padding-top: 30px !important;	
			}

			.image {
				padding: 15px !important;
				img {
					@media (min-height: 768px) {
						height: 300px;
						object-fit: contain;
						min-height: 100%;
					}
				}
			}

			p {
				padding: 20px;
				text-align: justify;
			}
		}
	}
	@media (max-width: 1200px) {
		margin: auto;
		width: 100vw;
		font-size: 14px;
	}

	.content {
		margin: auto;
		text-align: center;
		padding: 5vh 10vw;

		width: max-content;
		h2 {
			width: max-content;
			text-align: center;
			margin: 0 auto;
			display: block;
			color: #000;
			border-bottom: solid 3px $primary;
			margin-bottom: 50px;
			margin-top: 60px;
		}

		p {
			@media (max-width: 768px) {
				max-width: 200px;
			}
		}
	}
	.featured {
		margin-bottom: 60px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			margin: auto;
		}
		.project-card {
			margin: 15px 30px;
			position: relative;
			&:hover {
				box-shadow: 0px 4px 4px $primary;
				cursor: pointer;
			}
			img {
				height: 200px;
				object-fit: cover;
				width: 100%;
			}
			.overlay {
				height: 155px;
				width: 190px;
				opacity: 0.6;
				background: $primary;
				position: absolute;
				top: 0;
			}
			width: 250px;
			text-align: left;
			border: solid 1px #c4c4c4;
			div {
				padding: 30px;
				padding-top: 15px;
			}

			a {
				&:hover {
					color: white;
				}
			}
		}
	}

	margin-bottom: 30px !important;
}

#career {
	.content {
		margin: auto;
		text-align: center;
		padding: 0px 100px;
		width: max-content;
		h2 {
			width: max-content;
			text-align: center;
			margin: 0 auto;
			display: block;
			color: #000;
			border-bottom: solid 3px $primary;
			margin-bottom: 50px;
			margin-top: 60px;
		}
	}

	.career {
		display: flex;
		flex-direction: row;
		align-items: center;
		.description {
			border: solid 1px #c4c4c4;
			padding: 30px;
			width: 300px;
			text-align: left;
			.email {
				color: white;
				vertical-align: middle;
				background: $primary;
				padding: 3px;
				display: block;
				width: max-content;
				margin: 30px 0;
			}
			h3,
			p {
				color: #7a7a7a;
			}
		}
		.image {
			display: flex;
			flex-direction: column;
			img {
				display: block;
			}
		}

		@media (max-width: 768px) {
			.image {
				display: none;
			}

			flex-direction: column;
		}

		.image-top,
		.image-bottocontaineom {
			display: none;
			@media (max-width: 768px) {
				display: block;
			}
		}
	}
}

#blog {
	text-align: center;
	padding: 50px 100px;
	padding-bottom: 0;
	@media (max-width: 768px) {
		width: 100vw;
		padding: 0;
		margin: 0;
	}
	h2 {
		width: max-content;
		text-align: center;
		margin: 0 auto;
		display: block;
		color: #000;
		border-bottom: solid 3px $primary;
		margin-bottom: 50px;
		margin-top: 60px;
		font-size: 20px;
	}

	.text {
		@media (max-width: 768px) {
			p {
				margin: auto;
				width: 250px;
				text-align: center;
			}
		}
	}

	.post-list {
		margin: 30px 10vw;
		.row {
			justify-content: space-between;
		}

		li:hover {
			.title:not(.excerpt) {
				border-bottom: $primary 2px solid ;
				max-width: fit-content;
			}
		}

		li {
			margin: auto;
			padding: 30px;
			@media (min-width: 768px) {
				width: 30vw;
			}

			@media (max-width: 768px) {
				margin-left: 30px;
				margin-right: 30px;
			}
			border-top: solid 1px #eee;
			display: flex;
			flex-direction: row;
			&:last-child {
				border-bottom: solid 1px #eee;
			}
			img {
				width: 109px;
				height: 78px;
				background-size: cover;
			}
			div {
				display: flex;
				justify-content: center;
				margin-left: 30px;
				flex-direction: column;
				a {
					display: block;
					text-align: left;
					display: block;
				}

				.title {
					margin-top: 0;
					margin-bottom: 0;
					color: #000;
					opacity: 0.7;
					font-size: 16px;
					font-weight: normal;
					margin-top: 10px;
					@media (max-width: 768px) {
						font-size: 11px;	
					}

				}
					.excerpt {
						opacity: 0.5;
						font-size: 14px;
						@media (max-width: 768px) {
							font-size: 9px;	
						}
						* {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							width: 120px;
							@media (min-width: 768px) {
								width: 300px;	
							}
						}
					}
				margin-right: 30px;
			}
		}

		@media (max-width: 768px) {
			.row {
				flex-direction: column;
				li {
					margin: auto;
					justify-content: start;
					&:last-child {
						padding-top: 30px;
					}
				}
			}
			margin: 30px 0;
			padding: 0;
			font-size: 14px;
		}

	}

	.pagination {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		a {
			display: inline-block;
			margin: auto;
			padding: 2px;
			color: black;
			margin: 5px;
			text-align: center;
			&.is-active {
				background-color: $primary;
				color: white;
			}
		}
	}

	.empty {
		.message {
			color: #c4c4c4;
			margin-bottom: 20px;
			background: none;
		}
		margin: auto;
		width: 30vw;
		padding: 30px;
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;

	}
}

#posts {
	height: calc(100vh - 200px);
	overflow-y: scroll;
	text-align: auto;
	padding: 100px 10vw;
	@media (max-width: 768px) {
		padding-top: 60px !important;	
	}
	@media (max-width: 768px) {
		font-size: 14px;
	}
	.title {
		text-align: center;
		color: white;
		background: $primary;
		width: max-content;
		margin: auto;
		padding: 3px 10px;
		font-size: 24px;
	}

	.subtitle {
		text-align: center;
		margin: 15px;
		font-size: 14px;
	}

	img {
		display: block;
		margin: 30px auto;
		min-width: 500px;
		min-width: 700px;
		height: 500px;
		object-fit: cover;
		@media (max-width: 768px) {
			min-width: 100px;
			height: 200px;
		}
	}

	.content {
		li {
			font-weight: bold;
		}
	}
}

iframe {
	border:0;
	 width: 774px; height: 406px;
	@media (max-width: 768px) {
		font-size: 14px;
		width: 300px; height: 406px;
	}
}
.line {
	color: #00000000;
	border-bottom: solid 2px $primary;
}

#date {
	display: inline-block;
}

#show-more-client, .arrow {
	&:hover {
		transform: scale(1.2);
	}
}