<nav class="desktop">
    <div>
        <img src="/assets/dimensilogo1.png" alt="" style="width: 120px;">
    </div>
    <a id="home-link" class="home-link" href="/">Home</a>
    <a id="about-link" class="about-link" href="/about">Company</a>
    <a id="services-link" class="services-link" href="/services">Service</a>
    <a id="project-link" class="project-link" href="/project">Projects</a>
    <a id="blog-link" class="blog-link" href="/blog">Blog</a>
    <!-- <a id="career-link" href="/career">Career</a> -->
    <a id="contact-link" href="/contact">Contact</a>
    <div class="social-media">
        <a href="">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="subtitle">Copyright 2019 Dimensi.co</div>
</nav>

<script>
    let { pathname } = document.location
    if (pathname === '/') {
        document.getElementById("home-link").classList.add("is-active")
    } else if(pathname.includes("blog")) {
        document.getElementById(`blog-link`).classList.add("is-active")
    } else {
        pathname = pathname.replace("/", "")
        pathname = pathname.replace("/", "")
        
        document.querySelector(`.${pathname}-link`).classList.add("is-active")
        document.getElementById(`${pathname}-link`).classList.add("is-active")
    }
</script>