---
layout: default
---
<div id="contact">
    <p class="text">
        <h2 class="title is-5">Contact</h2>
        <p>

            Reach us through
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7920.769999627313!2d107.6356617!3d-6.9638282!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1578768546985!5m2!1sen!2sid"
            width="774" height="406" frameborder="0" style="border:0;" allowfullscreen=""></iframe>`

        <p>Studio office: <a href="">Jalan Anda no. 53, Ciganjur, Jakarta Selatan 12630</a></p>
    </p>
    <div class="contact">
        <div class="contact-button">
            <i class="fas fa-phone-alt"></i>
            : 021-727-2276
        </div>
        <div class="contact-button">
            <i class="fas fa-fax"></i>
            : 021-7889-3965
        </div>
        <div class="contact-button">
            <i class="fas fa-envelope"></i>
            : info@dimensi.co
        </div>
    </div>
</div>