---
layout: default
---
<div id="blog">
    <p class="text">
        <h2 class="title is-5">Blog</h2>
        <p>
            Our recent update about interior design topic
        </p>
    </p>
    {%- if paginator.posts.size > 0 -%}
    <ol class="post-list">
        <div class="row">
            {% for post in paginator.posts limit: 2 %}
            <li>
                <div>
                    {{forloop.index}}.
                </div>
                <img src="{{post.thumbnail}}" alt="">
                <div>
                    <a class="post-link" href="{{ post.url }}">
                        {{ post.categories[0] | escape }}
                    </a>
                    <a class="post-link title" href="{{ post.url }}">
                        {{ post.title | escape }}
                    </a>
                </div>

            </li>
            {% endfor %}
        </div>
        {% if paginator.total_posts > 2 %}
        <div class="row">
            {% for post in paginator.posts limit: 2 offset: 2 %}
            <li>
                <div>
                    {{forloop.index | plus: 2}}.
                </div>
                <img src="{{post.thumbnail}}" alt="">
                <div>
                    <a class="post-link" href="{{ post.url }}">
                        {{ post.categories[0] | escape }}
                    </a>
                    <a class="post-link title" href="{{ post.url }}">
                        {{ post.title | escape }}
                    </a>
                </div>

            </li>
            {% endfor %}
        </div>
        {% endif %}
        {% if paginator.total_posts > 4 %}
        <div class="row">
            {% for post in paginator.posts limit: 2 offset: 4 %}
            <li>
                <div>
                    {{forloop.index | plus: 4}}.
                </div>
                <img src="{{post.thumbnail}}" alt="">
                <div>
                    <a class="post-link" href="{{ post.url }}">
                        {{ post.categories[0] | escape }}
                    </a>
                    <a class="post-link title" href="{{ post.url }}">
                        {{ post.title | escape }}
                    </a>
                </div>

            </li>
            {% endfor %}
        </div>
        {% endif %}
    </ol>
    <div class="pagination">
        {% if paginator.page > 1 %}
        <a href="{{'/blog/page' | append: paginator.prev_page}}"> <i class="fas fa-chevron-left"></i> </a>
        {% endif %}
        {% for i in (1..paginator.total_pages) %}
        {% if i == paginator.page %}
        <a href="{{'/blog/page' | append: i}}" class="is-active"> {{i}} </a>
        {% else %}
        <a href="{{'/blog/page' | append: i}}"> {{i}} </a>
        {% endif%}
        {% endfor %}
        {% if paginator.page < paginator.total_pages %}
        <a href="{{'/blog/page' | append: paginator.next_page}}"> <i class="fas fa-chevron-right"></i> </a>
        {% endif %}
    </div>
    {%- endif -%}

</div>