---
layout: default
---

<div id="career">
    <div class="content">
        <h2 class="title is-5">Career</h2>
        <div class="career">
            <div class="image-top"> 
                <img src="/assets/career-1.png" alt="">
            </div>
            <div class="description">
                <h3 class="title is-3">
                    Looking for the best places to finding your purpose? <a href="">Dimensi</a> is kind of the answers
                </h3>
                <p>People are the heart of every connections in every project we was doing. We design space for clients
                    to
                    fulfill their goals and also we passionate about. We have missions to ship every service we had to
                    client with spirit of useful for society, If you send your CV to us!</p>
                <a href="" class="email">
                    <i class="fas fa-envelope"></i> : recruitment@dimensi.co
                </a>

            </div>
            <div class="image-bottom"> 
                <img src="/assets/career-2.png" alt="">
            </div>
            <div class="image">
                <img src="/assets/career-1.png" alt="">
                <img src="/assets/career-2.png" alt="">
            </div>
        </div>
    </div>
</div>