---
layout: default
---

<div id="company">
    <div class="text">
        <h2 class="title is-5">
            Tentang
        </h2>

        <div class="description">
            <div>
                <img src="/assets/infodimensi.png" alt="">
            </div>
            <p class="id content">
                {{ site.data.company.desc_id }}
            </p>
            <p class="en content">
                {{ site.data.company.desc_en }}
            </p>
        </div>
        <div class="visi">
            <p class="judul">
                Visi
            </p>
            <p class="content">
                Menjadi perusahaan yang bergerak di bidang jasa konstruksi yang meliputi jasa perencanaan dan
                pelaksanaan
                “design and built” dengan skala
            </p>
        </div>
        <div class="visi">
            <p class="judul">
                Misi
            </p>
            <div class="content">
                <ol>
                    <li>
                        Menjadikan pt dimensi gagas prima menjadi perusahaan jasa konstruksi yang dapat mengerjakan
                        proyek dengan tingkat kompleksitas lebih tinggi dan mempunyai nilai proyek yang tinggi dengan
                        kelas usaha grade 5 dan diakui manajemen pengendalian mutu melalui pengakuan ISO
                    </li>
                    <li>
                        Meningkatkan kemampuan, pengetahuan dan profesionalitas sumber daya manusia, sehingga siap
                        mengemban tugas dan tanggung jawab yang semakin meningkat, yang mengakibatkan kesejahteraan
                        karyawan meningkat
                    </li>
                    <li>
                        Menyiapkan manajemen pengelolaan perusahaan secara sistematis dan modern dari semua divisi di
                        dalam perusahaan yaitu pengelolaan manajemen pemasaran dan promosi, manajemen keuangan,
                        manajemen produksi, manajemen sumber daya manusia, manajemen pengembangan dan lainnya
                    </li>
                    <li>
                        Menjadikan usaha mencari rizki yang berbasis syariah untuk mencari rizki Allah SWT dengan cara
                        benar dan baik yang bermanfaat buat karyawan perusahaan, keluarga, kolega, pemberi pekerjaan,
                        lingkungan dan masyarakat sekitarnya
                    </li>
                </ol>
            </div>
        </div>
    </div>



    <div class="culture">
        <section class="judul">
            Budaya & Etos Kerja
        </section>
        <table>
            <thead>
                <tr>
                    <th>
                        5 Nilai Budaya Kerja
                    </th>
                    <th>
                        7 Nilai Perilaku Utama
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Spiritualitas (Religiosity)
                    </td>
                    <td>
                        <li>
                            Senantiasa meningkatkan amalan ibadah untuk meraih keridhoan Allah
                        </li>
                    </td>
                </tr>
                <tr>
                    <td>
                        Spiritualitas (Religiosity)
                    </td>
                    <td>
                        <li>
                            Meningkatkan kualitas kerja, bekerja sesuai dengan tenggat waktu dan bekerja secara efisien
                        </li>
                    </td>
                </tr>
                <tr>
                    <td>
                        Spiritualitas (Religiosity)
                    </td>
                    <td>
                        <li>Jujur, tulus dan ikhlas</li>
                        <li>Disiplin, konsisten dan bertanggung jawab</li>
                    </td>
                </tr>
                <tr>
                    <td>
                        Spiritualitas (Religiosity)
                    </td>
                    <td>
                        <li>Memberikan layanan terbaik melalui kualitas pekerjaan</li>
                    </td>
                </tr>


                <tr>
                    <td>
                        Spiritualitas (Religiosity)
                    </td>
                    <td>
                        <li>Senantiasa melakukan penyempurnaan dan tidak pernah berhenti untuk belajar</li>
                        <li>Kreatif dan Inovatif</li>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="team">
        <section class="judul id">
            Tim
        </section>
        <section class="judul en">
            Team
        </section>
        <div class="desc">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, pharetra urna tempus sem sed euismod
                sodales
                purus. Aliquet ipsum condimentum vel maecenas suspendisse sit nunc. Lacinia vel lorem iaculis tellus ac
                enim
                risus egestas. Phasellus mi ultrices vivamus vel eros nulla feugiat cursus sit.
            </p>
            <img src="/assets/dimensiorang.png" alt="">
        </div>

        <div class="people">
            <div class="image dummy">
            </div>
            <div class="data">
                <div class="nama">
                    Adi Surya, Founder Dimensi
                </div>
                <div class="quote">
                    orem ipsum dolor sit amet, consectetur adipiscing elit. Enim, pharetra urna tempus sem sed euismod
                    sodales purus. Aliquet ipsum condimentum vel maecenas suspendisse sit nunc. Lacinia vel lorem
                    iaculis tellus ac enim risus egestas.
                </div>
            </div>
        </div>
        <div class="group-image">
            <div class="image dummy"></div>
        </div>
    </div>
</div>