---
layout: default
---

<div id="company">
    <div class="text">
        <h2 class="title is-5">
            Company
        </h2>

        <p>
            {{ site.data.company.desc_id }}
        </p>
    </div>

    <div class="culture">
        <h2 class="title is-5">
            Our Working Method
        </h2>

        <div class="images">
            <div class="company-icon">
                <img src="/assets/dimensi1.png" alt="">
                <div>Preparation</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi2.png" alt="">
                <div>Marking</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi3.png" alt="">
                <div>Materials and Tools</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi4.png" alt="">
                <div>Partition / Ceiling Floor Works</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi5.png" alt="">
                <div>Mechanical & Electrical Works</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi6.png" alt="">
                <div>Finishing Work</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi7.png" alt="">
                <div>Quality Control</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi8.png" alt="">
                <div>Checklist & Improvement</div>
            </div>
            <div class="company-icon">
                <img src="/assets/dimensi9.png" alt="">
                <div>Maintenance & Hand Over</div>
            </div>


        </div>
    </div>
</div>