---
layout: default
---

<div id="company">
    <div class="text">
        <h2 class="title is-5">
            About Us
        </h2>

        <p>
            PT Dimensi Gagas Prima is a full-service interior design specializing in Corporate, Banks and
            multi-international company office planning, design and project management. The most important product of
            our work is our clients’ satisfaction. We are totally committed to it. <span> Together with each client, we
                work to provide an appropriate solution to their requirements. </span> We
            attribute our success in fulfilling our clients’
            goal to our commitment to placing one of our principals in the role of “project principals” to manage and
            control all phases of each individual project.Our hallmark of service, thoroughness, integrity
            accountability and quality design result in lasting clients relationship.
        </p>
    </div>

    <div class="culture">
        <h2 class="title is-5">
            Our Working Method
        </h2>

        <div class="images">
            <div class="company-icon">
                <img src="/assets/c-1.png" alt="">
                <div>Preparation</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-2.png" alt="">
                <div>Marking</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-3.png" alt="">
                <div>Materials and Tools</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-4.png" alt="">
                <div>Partition / Ceiling Floor Works</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-5.png" alt="">
                <div>Mechanical & Electrical Works</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-6.png" alt="">
                <div>Finishing Work</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-7.png" alt="">
                <div>Quality Control</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-8.png" alt="">
                <div>Checklist & Improvement</div>
            </div>
            <div class="company-icon">
                <img src="/assets/c-9.png" alt="">
                <div>Maintenance & Hand Over</div>
            </div>


        </div>
    </div>
</div>