---
layout: default
---
<div id="contact">
    <p class="text">
        <h2 class="title is-5 en">Contact</h2>
        <h2 class="title is-5 id">Kontak</h2>
        <p class="en">

            Reach us through
        </p>
        <p class="id">
            Hubungi Kami
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.149881708633!2d106.80259641541095!3d-6.374643764131652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69eeb1c630da89%3A0x7f3bc485202ccba!2sSaung%20Palakali%20Creative%20ART!5e0!3m2!1sid!2sid!4v1583808306430!5m2!1sid!2sid" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </p>
    <div class="contact">
        <div class="content">
            <div class="left">
                <div>Studio Office:</div>
                <div>Office Hour:</div>
                <div>Social Media:</div>
            </div>
            <div class="right">
                <div>

                    <a href=""> Jalan Palakali No 26, RT 07 / RW 07, Tanah Baru, Beji Depok</a>
                </div>
                <div>

                    <a href="">09.00 - 17.00</a>
                </div>
                <div>
                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="numbers">
            <i class="fas fa-phone"></i> &nbsp;: <a href=""> 021-727-2276 &nbsp; <strong>|</strong> &nbsp;</a>
            <i class="fas fa-fax"></i> &nbsp;: <a href=""> 021-7889-3965 &nbsp; <strong>|</strong> &nbsp;</a>
            <i class="fas fa-envelope"></i> &nbsp;: <a href=""> info@dimensi.co &nbsp; </a>
        </div>
    </div>
</div>
