---
layout: default
---
<div id="contact">
    <p class="text">
        <h2 class="title is-5">Contact</h2>
        <p>

            Reach us through
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.420926957652!2d106.8075947154107!3d-6.3394902637922845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ee7d976bb775%3A0xf62a2466349307df!2sJl.%20Anda%20No.53%2C%20RT.7%2FRW.3%2C%20Ciganjur%2C%20Kec.%20Jagakarsa%2C%20Kota%20Jakarta%20Selatan%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2012630!5e0!3m2!1sid!2sid!4v1582105266111!5m2!1sid!2sid"
            width="774" height="406" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <p>Studio office: <a href="">Jalan Anda no. 53, Ciganjur, Jakarta Selatan 12630</a></p>
    </p>
    <div class="contact">
        <div class="contact-button">
            <i class="fas fa-phone-alt"></i>
            : 021-727-2276
        </div>
        <div class="contact-button">
            <i class="fas fa-fax"></i>
            : 021-7889-3965
        </div>
        <div class="contact-button">
            <i class="fas fa-envelope"></i>
            : info@dimensi.co
        </div>
    </div>
</div>