<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/c431cd6eb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
</head>

<body>
    <div class="navbar-mobile">
        <div>
            <img src="/assets/dimensilogo.png" alt="">
        </div>
        <div class="menu" onclick="showSidebar()">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class="sidebar-mobile disabled" id="sidebar-mobile">
        <div class="bg" id="close-sidebar" onclick="closeSidebar()">
        </div>
        <div class="content">
            <div id="close" onclick="closeSidebar()">
                <i class="fas fa-times"></i>
            </div>
            <div class="id">
                <a id="home-link" class="home-link" href="/">Beranda</a>
                <a id="about-link" class="about-link" href="/about">Tentang</a>
                <a id="services-link" class="services-link" href="/services">Layanan</a>
                <a id="project-link" class="project-link" href="/project">Proyek</a>
                <a id="blog-link" class="blog-link" href="/blog">Blog</a>
                <!-- <a id="career-link" href="/career">Career</a> -->
                <a id="contact-link" href="/contact">Kontak</a>
            </div>
            <div class="en">
                <a id="home-link" class="home-link" href="/?lang=en">Home</a>
                <a id="about-link" class="about-link" href="/about?lang=en">Company</a>
                <a id="services-link" class="services-link" href="/services?lang=en">Service</a>
                <a id="project-link" class="project-link" href="/project?lang=en">Projects</a>
                <a id="blog-link" class="blog-link" href="/blog?lang=en">Blog</a>
                <!-- <a id="career-link" href="/career">Career</a> -->
                <a id="contact-link" href="/contact?lang=en">Contact</a>
            </div>
            <div class="languages">
                <a>
                    <img src="/assets/id.png" onclick="changeLang('id')" alt="">
                </a>
                <a>
                    <img src="/assets/en.png" onclick="changeLang('en')" alt="">
                </a>
            </div>

            <div class="subtitle">Copyright 2019 Dimensi.co</div>
        </div>
    </div>
    <script>
        const showSidebar = () => {
            document.getElementById('sidebar-mobile').classList.remove("disabled")
        }

        const closeSidebar = () => {
            document.getElementById('sidebar-mobile').classList.add("disabled")
        }
    </script>
    <div id="container">
        {% include navbar.html %}
        <div class="body-container">
            <div id="body">
                <img src="/assets/cubedecor.png" class="circle" alt="">
                {{content}}

                <div id="footer"> </div>
                <script>
                    if (pathname === '/') {
                        document.getElementById('footer').classList.add('hide')
                    }
                </script>
            </div>

        </div>
    </div>
    <script>
        const { search } = document.location

        console.log(search.includes("?lang=en"), search)
        if (search.includes("?lang=en")) {
            document.querySelectorAll(".id").forEach(elem => elem.classList.add("hide"))
        } else {
            document.querySelectorAll(".en").forEach(elem => elem.classList.add("hide"))
        }


        var changeLang = (str) => {
            console.log(str)
            if (str === "en") {
                document.querySelectorAll(".id").forEach(elem => elem.classList.add("hide"))
                document.querySelectorAll(".en").forEach(elem => elem.classList.remove("hide"))
            } else {
                document.querySelectorAll(".en").forEach(elem => elem.classList.add("hide"))
                document.querySelectorAll(".id").forEach(elem => elem.classList.remove("hide"))
            }
        }

        const revealer = ScrollReveal()
        const opts = { container: '.body-container' }
        if (window.innerWidth >= 1200) {
            revealer.reveal('#home *', opts)
            revealer.reveal('#company ', opts)
            revealer.reveal('#service *', opts)
            revealer.reveal('#blog *')
            revealer.reveal('#project ')
            revealer.reveal('#contact *')
    
        }
   </script>
</body>

</html>