---
layout: default
---

<script>
    document.querySelector('.circle').classList.add("hide")
</script>

<img src="/assets/circle.png" class="circle-home" alt="">
<div id="home">
    <div class="top-content">
        <div class="main">
            <div class="text">

            </div>
            <div class="desc">
                <h1 class="title is-1 id">
                    {{ site.data.home.title_id }}
                </h1>
                <h1 class="title is-1 en">
                    {{ site.data.home.title_en }}
                </h1>

                <p class="id">
                    {{ site.data.home.desc_id }}
                </p>

                <p class="en">
                    {{ site.data.home.desc_en }}
                </p>
            </div>

        </div>

        <div class="images-h">
            <div class="bg1"></div>
            <div class="bg2"></div>
        </div>
    </div>
</div>

<div id="home-mobile">
    <div>
        <img src="/assets/home-mobile.png" alt="">
        <h1 class="title is-1 id">
            {{ site.data.home.title_id }}
        </h1>
        <h1 class="title is-1 en">
            {{ site.data.home.title_en }}
        </h1>
        <p class="id">
            {{ site.data.home.desc_id }}
        </p>

        <p class="en">
            {{ site.data.home.desc_en }}
        </p>
    </div>
</div>