---
layout: default
---

<script>
     document.querySelector('.circle').classList.add("hide")
</script>

<img src="/assets/circle.png" class="circle-home" alt="">
<div id="home">
    <div class="top-content">
        <div class="main">
            <div class="text">

            </div>
            <div class="desc">
                <h1 class="title is-1">
                    Welcome to our home
                </h1>

                <p>
                    We are committed to create the best service and provide thoroughness, integrity accountability also
                    give
                    quality
                    design result for your space
                </p>
            </div>

        </div>

        <div class="images-h">
            <div class="bg1"></div>
            <div class="bg2"></div>
        </div>
    </div>
</div>

<div id="home-mobile">
    <div>
        <img src="/assets/home-mobile.png" alt="">
        <h1 class="title is-1">
            Welcome to our home,
        </h1>
        <p>
            We are committed to create the best service and provide thoroughness, integrity accountability also give
            quality design result for your space
        </p>
    </div>
</div>