---
layout: default
---
<div id="project">
    <p class="text">
        <h2 class="title is-5">Projects</h2>
        <p>
            Here our collection of clients project
        </p>
        <div class="gallery">
            <div class="arrow disabled prev" id="prev" onclick="carousels[0].previous()">
                <i class="fas fa-chevron-circle-left"></i>
            </div>

            <div class="featured carousel">
                <div class="project-card item-1">
                    <img src="/assets/random.png" alt="">
                </div>
                <div class="project-card item-2">
                    <img src="/assets/project-2.png" alt="">
                </div>
                <div class="project-card item-3">
                    <img src="/assets/project-2.png" alt="">
                </div>
                <div class="project-card item-4">
                    <img src="/assets/project-2.png" alt="">
                </div>
                <div class="project-card item-5">
                    <img src="/assets/project-1.png" alt="">
                </div>
                <div class="project-card item-6">
                    <img src="/assets/project-1.png" alt="">
                </div>
                <div class="project-card item-7">
                    <img src="/assets/project-1.png" alt="">
                </div>

            </div>
            <div class="arrow next" id="next" onclick="carousels[0].next()">
                <i class="fas fa-chevron-circle-right"></i>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
        <script>
            // Initialize all div with carousel class
            let slidesToShow = 1
            if (window.innerWidth >= 1200) {
                slidesToShow = 2
            }

            var carousels = bulmaCarousel.attach('.featured', {
                slidesToScroll: 1,
                slidesToShow,
                pagination: false,
                navigation: false
            });

            carousels[0].on('after:show', e => {
                console.log(e);
                if (e.next === 0) {
                    document.getElementById("prev").classList.add("disabled")
                } else {
                    document.getElementById("prev").classList.remove("disabled")
                }

                if (e.next === e.length - slidesToShow) {
                    document.getElementById("next").classList.add("disabled")
                } else {
                    document.getElementById("next").classList.remove("disabled")
                }
            });
        </script>

        <div class="clients">
            <p style="margin: 30px">
                Featured Client
            </p>
            <div class="logos">
                <div class="logo">
                    <img src="/assets/client-1.png" alt="">
                </div>
                <div class="logo">
                    <img src="/assets/client-2.png" alt="">
                </div>
                <div class="logo">
                    <img src="/assets/client-3.png" alt="">
                </div>
                <div class="logo">
                    <img src="/assets/client-4.png" alt="">
                </div>
                <div class="logo">
                    <img src="/assets/client-5.png" alt="">
                </div>
                <div class="logo">
                    <img src="/assets/client-6.png" alt="">
                </div>
            </div>
        </div>
    </p>
</div>