---
layout: default
---

<div id="project">
    <p class="text">
        <h2 class="title is-5">Projects</h2>
        <p>
            Here our collection of clients project
        </p>
        <div class="gallery">
            <div class="arrow disabled prev" id="prev" onclick="carousels[0].previous()">
                <i class="fas fa-chevron-circle-left"></i>
            </div>
            <div class="featured carousel">

                {% for gallery in site.galleries %}
                <div class="project-card item-{{ forloop.index }}">
                    <img src="{{ gallery.image }}" alt="">
                </div>
                {% endfor %}

            </div>
            <div class="arrow next" id="next" onclick="carousels[0].next()">
                <i class="fas fa-chevron-circle-right"></i>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
        <script>
            // Initialize all div with carousel class
            if (window.innerWidth >= 1200) {
                slidesToShow = 2
            }

            var carousels = bulmaCarousel.attach('.featured', {
                slidesToScroll: 1,
                slidesToShow: window.innerWidth >= 1200 ? 2 :1,
                pagination: false,
                navigation: false
            });

            carousels[0].on('after:show', e => {
                console.log(e);
                if (e.next === 0) {
                    document.getElementById("prev").classList.add("disabled")
                } else {
                    document.getElementById("prev").classList.remove("disabled")
                }

                if (e.next === e.length - slidesToShow) {
                    document.getElementById("next").classList.add("disabled")
                } else {
                    document.getElementById("next").classList.remove("disabled")
                }
            });
        </script>

        <div class="clients">
            <p style="margin: 30px">
                Featured Client
            </p>
            <div class="logos">
                {% for client in site.clients %}
                {%- if client.description -%}
                <div class="logo" onclick="openModal{{forloop.index}}()">
                        <img src="{{ client.image }}" alt="">
                    </div>
                {%- endif -%}
                <script>
                    const openModal{{forloop.index}} = () => {
                        document.getElementById("modal-{{ forloop.index }}").classList.add("is-active")
                    }

                    const closeModal{{forloop.index}} = () => {
                        document.getElementById("modal-{{ forloop.index }}").classList.remove("is-active")
                    }
                </script>

                <div id="modal-{{forloop.index}}" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="header">
                            <div class="logo">
                                <img src="{{ client.image }}" alt="">
                            </div>

                            <div class="close" onclick="closeModal{{forloop.index}}()">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <div class="content">
                            <div class="gallery-client">
                                <div class="arrow disabled prev" id="prev-client"
                                    onclick="clientCarousels{{ forloop.index }}[0].previous()">
                                    <i class="fas fa-chevron-circle-left"></i>
                                </div>
                                <div class="client-{{ forloop.index }} carousel">

                                    {% for gallery in client.gallery %}
                                    <div class="project-card item-{{ forloop.index }}">
                                        <img src="{{ gallery.image }}" alt="">
                                    </div>
                                    {% endfor %}

                                </div>
                                <div class="arrow next" id="next-client" onclick="clientCarousels{{ forloop.index }}[0].next()">
                                    <i class="fas fa-chevron-circle-right"></i>
                                </div>
                            </div>
                           <script>
                                // Initialize all div with carousel class
                                let slidesToShow  = 1
                                var clientCarousels{{forloop.index}} = bulmaCarousel.attach('.client-{{ forloop.index }}', {
                                    slidesToScroll: 1,
                                    slidesToShow: 2,
                                    pagination: false,
                                    navigation: false
                                });

                                console.log(clientCarousels{{forloop.index}})

                                clientCarousels{{forloop.index}}[0].on('after:show', e => {
                                    console.log(e);
                                    if (e.next === 0) {
                                        document.getElementById("prev-client").classList.add("disabled")
                                    } else {
                                        document.getElementById("prev-client").classList.remove("disabled")
                                    }

                                    if (e.next === e.length - slidesToShow) {
                                        document.getElementById("next-client").classList.add("disabled")
                                    } else {
                                        document.getElementById("next-client").classList.remove("disabled")
                                    }
                                });
                            </script>

                            <p>
                                {{  client.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </p>
</div>