---
layout: default
---
<div id="project">
    <p class="text">
        <h2 class="title is-5">Projects</h2>
        <p>
            Here our collection of clients project
        </p>
        <div class="featured">
            <div class="project-card">
                <img src="/assets/project-1.png" alt="">
                <p>PT. Herbalife Indonesia - Head Office, Cibis Nine</p>
                <a href="">Renovation Interior, Furniture & Mechanical Electrical</a>
            </div>
            <div class="project-card">
                <img src="/assets/project-2.png" alt="">
                <p>PT. Petrokopindo Cipta Selaras - Gresik, Jawa Timur</p>
                <a href="">Renovation Interior, Furniture & Mechanical Electrical</a>
            </div>

        </div>

        <div class="clients">
            <p>
                Featured Client
            </p>
            <p class="logos">
                <img src="/assets/client-1.png" alt="">
                <img src="/assets/client-2.png" alt="">
                <img src="/assets/client-3.png" alt="">
                <img src="/assets/client-4.png" alt="">
                <img src="/assets/client-5.png" alt="">
                <img src="/assets/client-6.png" alt="">
            </p>
        </div>

        <div class="other">
            Other projects can be see here :
            <div class="other-button">
                <img src="/assets/other-project.png" alt="">
                <div>
                    Clients Project Preview
                </div>
            </div>
        </div>
    </p>
</div>